{% extends "registration/base.html" %}

{% block title %}Activation complete{% endblock %}

{% block content %}
<h1>Congratulations!</h1>
<p>Your registration is now complete. Go to the site, login, and start to work.</p>
{% endblock %}