{% extends "registration/base.html" %}
{% load bootstrap3 %}

{% block title %}Log in{% endblock %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}
<div class="row">
    <div class="col-sm-4">
        <form method="post" action="?next={{ next|default:"/index/" }}">
            {% csrf_token %}
            {% if form.username.errors %}
                <span class="error">
                    {{ form.username.errors|join:", " }}
                </span>
            {% endif %}
            {% bootstrap_field form.username %}
            {% if form.password.errors %}
                <span class="error">{{ form.password.errors|join:", " }}
            </span>{% endif %}
            {% bootstrap_field form.password %}
            <input class="btn btn-primary" type="submit" value="Log in" />
        </form>
    </div>
</div>
{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign
up</a> for one.
<p>Click <a href="/accounts/password_reset/">here to reset your password.</a></p>
{% endblock %}