{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% block title %}Sign up{% endblock %}

{% block content %}

  {% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}

  <h1>Create an account</h1>

  <form method="post" action="" class="wide">
    <div class="row">
      <div class="col-sm-4">
	     {% csrf_token %}
        {{form }}
        <input class="btn btn-primary" type="submit" value="Register">
      </div>
    </div>
  </form>

{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>This account will let you log into PiHT, and view your data. 
</p>
{% endblock %}
