{% extends "site_base.html" %}
{% block title %}Refugee Stories {% endblock %}

{% block content %}
<br>
<H3>Refugee stories.</H3>
<br>
<p><a href="{% url 'upaudio' %}">Upload audio.</a></p>
<p><a href="{% url 'upvideo' %}">Upload video.</a></p>
<p><a href="{% url 'upimage' %}">Upload image.</a></p>
<p><a href="{% url 'uptext'  %}">Upload text.</a></p>
<p><a href="{% url 'textstory' %}">Text story</a></p>
<br>
<a href="#">New content</a>

{% endblock %}
