{% extends "site_base.html" %}
{% load bootstrap3 %}
{% block title %}Enter text {% endblock %}

{% block content %}
<h3>Enter Text</h3>
    <form action="{% url 'textstory' %}" method="post" >
	{% csrf_token %}
		
        <p>{{ form.st_text }}</p>
        
        <p>Description: {{ form.st_desc }}</p>
        
        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.st_tag1 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.st_tag2 %}</div>
        </div>
        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.st_tag3 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.st_tag4 %}</div>
        </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.st_cont %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.st_lang %}</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.st_shareable %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.st_namevis %}</div>
	    </div>
	    <p><input type="submit" value="Save" /></p>
	</form>
{% endblock %}