{% extends "site_base.html" %}
{% load bootstrap3 %}
{% block title %}Upload Audio {% endblock %}

{% block content %}
<h3>Upload audio file </h3>
    <form action="{% url 'upimage' %}" method="post"  enctype="multipart/form-data">
	{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
            <p>{{ form.if_file.label_tag }} {{ form.if_file.help_text }}</p>
            <p>
                {{ form.if_file.errors }}
                {{ form.if_file }}
            </p>
        <p>Description: {{ form.if_desc }}</p>

        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.if_tag1 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.if_tag2 %}</div>
        </div>
        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.if_tag3 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.if_tag4 %}</div>
        </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.if_cont %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.if_lang %}</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.if_shareable %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.if_namevis %}</div>
	    </div>
	    <p><input type="submit" value="Upload" /></p>
	</form>
{% endblock %}