{% extends "site_base.html" %}
{% load bootstrap3 %}
{% block title %}Upload Audio {% endblock %}

{% block content %}
<h3>Upload audio file </h3>
    <form action="{% url 'upaudio' %}" method="post"  enctype="multipart/form-data">
	{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
            <p>{{ form.af_file.label_tag }} {{ form.af_file.help_text }}</p>
            <p>
                {{ form.af_file.errors }}
                {{ form.af_file }}
            </p>
        <p>Description: {{ form.af_desc }}

        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.af_tag1 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.af_tag2 %}</div>
        </div>
        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.af_tag3 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.af_tag4 %}</div>
        </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.af_cont %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.af_lang %}</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.af_shareable %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.af_namevis %}</div>
	    </div>
	    <p><input type="submit" value="Upload" /></p>
	</form>
{% endblock %}