{% extends 'site_base.html' %}
{% load bootstrap3 %}
{% block title %}Upload Text{% endblock %}

{% block content %}
<h3>Upload a text story </h3>
   <form action="{% url 'uptext' %}" method="post"  enctype="multipart/form-data">
	{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
            <p>{{ form.ut_textfile.label_tag }} {{ form.ut_textfile.help_text }}</p>
            <p>
                {{ form.ut_textfile.errors }}
                {{ form.ut_textfile }}
            </p>
        <p>Description: {{ form.ut_desc }}</p>

        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.ut_tag1 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.ut_tag2 %}</div>
        </div>
        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.ut_tag3 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.ut_tag4 %}</div>
        </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.ut_cont %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.ut_lang %}</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.ut_shareable %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.ut_namevis %}</div>
	    </div>
	    <p><input type="submit" value="Upload" /></p>
	</form>
{% endblock %}