{% extends "site_base.html" %}
{% load bootstrap3 %}
{% block title %}Upload Audio {% endblock %}

{% block content %}
<h3>Upload audio file </h3>
    <form action="{% url 'upvideo' %}" method="post"  enctype="multipart/form-data">
	{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
            <p>{{ form.vf_file.label_tag }} {{ form.vf_file.help_text }}</p>
            <p>
                {{ form.vf_file.errors }}
                {{ form.vf_file }}
            </p>
        <p>Description: {{ form.vf_desc }}

        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.vf_tag1 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.vf_tag2 %}</div>
        </div>
        <div class="row">
        	<div class="col-md-3">{% bootstrap_field form.vf_tag3 %}</div>
        	<div class="col-md-3">{% bootstrap_field form.vf_tag4 %}</div>
        </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.vf_cont %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.vf_lang %}</div>
	    </div>
	    <div class="row">
	    	<div class="col-md-3">{% bootstrap_field form.vf_shareable %}</div>
	    	<div class="col-md-3">{% bootstrap_field form.vf_namevis %}</div>
	    </div>
	    <p><input type="submit" value="Upload" /></p>
	</form>
{% endblock %}